*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.main {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display:none;
    justify-content: center;
    align-items: center;
}

.container{
    height: 300px;
    width: 450px;
    background-color: blue;
    border: rgb(5, 7, 4) 5px solid;
    border-radius: 20px;
    position:absolute;
    top:35%;
    left:45%;
    margin-top:-50px;
    margin-left:-100px;
    box-shadow: 10px 10px #888888;

}
.star-rating{
    width: 50%;
    height: 10%;
    position: absolute;
    top: 50px;
    left: auto;
    background-color: blue;

}
.stars{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color: blue;
    left: 110px;

}
.star{
    list-style: none;
    font-size: 4rem;
    padding-left: 20px;
    color: white;
    background-color: blue;
}
.star:first-child{padding: 0px;}
.output{
    width: 450px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 70px;


}
.next{
    width: 200px;height: 50px; line-height: 40px;text-align: center;background-color: rgb(13, 238, 215);
    position: absolute;
    top: 150px;
    left: 50%;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}
.next:hover{
    color:blue;
    background-color: beige;
    border: 2px solid cornflowerblue;cursor: pointer;
}
.close{
    position: absolute;
    top: -45px;
    left: 410px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.close:hover{

    font-size: 25px;
}
.orange{color: orange;}
.yellow{color: yellow;}